---
pageable: true
per_page: 50
---
<p>Hi there! I'm Joseph Anderson and I'm a Product Designer that's obsessed with SaaS, Rails, Mobile, Marketing, and lentils. I'm currently day dreaming in San Diego, working on <a href="https://www.mightyscout.com">MightyScout</a>, and experimenting with Sales and Marketing from a product design perspective.</p>
<a href="http://www.twitter.com/Anderson760">Twitter</a><a href="http://www.dribbble.com/Anderson760">Dribbble</a>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= strip_summary article.summary(250) %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
