<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Joseph Anderson - Product Designer -<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "skeleton" %>
    <%= stylesheet_link_tag "base" %>
  </head>
  <body>
  <div class="container">
    <div id="main" role="main">
      <%= yield %>
    </div>
  </div>  
  </body>
</html>
